@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {
      .contain {
        max-width: 1024px;
        margin: auto;
        padding: 0px;
      }
      table {
        border-collapse: collapse;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 5px;
      }

      /* th{
        background-color: #219e2f;
        color:white;
      } */
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    }
  }